@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', 'sans-serif'
}

/* Top navigation bar */
.top-nav {
    background-color: #141823;
    color: white;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    width: 100%;
  }
  
  /* Topnav items */
  .top-nav a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    margin-right: 15px; /* Optional: space between items */
  }
  
  .top-nav a:hover {
    background-color: #879193;
  }
  
  .top-nav a.active {
    background-color: #879193;
    text-decoration: none;
    padding: 14px 16px;
    margin-right: 15px; /* Optional: space between items */
  }