@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', 'sans-serif'
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
.wrapper/*the box*/{
    position: relative;
    width: 400px;
    height: 500px;
    background: black;
    box-shadow: 0 0 50px #7d12ff;
    border-radius: 30px;
    padding: 40px;
    overflow: hidden;

}
.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;

}
.wrapper.active .form-wrapper.sign-in/*transitions between signin/signup (makes login go out of box)*/{
    transform: translateY(-450px);
}
.wrapper .form-wrapper.sign-up/*transitions related, just makes it so overflow isnt still in other box when it shouldn't */{
    position: absolute;
    top: 450px;
    left: 0;
}
.wrapper.active .form-wrapper.sign-up/*transitions between signin/signup*/{
    transform: translateY(-450px);
}
h2 /*"The literal word 'Login' header"*/{
    font-size: 30px;
    color: white;
    text-align: center;
}
.input-group/*pw and username fields*/{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid white;
}
.input-group label/*pw and username fields*/{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .5s;
}
.input-group input/*pw and username fields*/{
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: white;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;

}
/*pw and username fields*/
.input-group input:focus~label,
.input-group input:valid~label{
    top: 1px;
}

.remember/*remember me button stuff*/{
    margin: -5px 0 15px 5px;

}
.remember label/*remember me button stuff*/{
    color: white;
    font-size: 16px;

}
.remember label input/*remember me button stuff*/{
    accent-color: goldenrod;
    
}
button/*login button*/{
    position: relative;
    width: 100%;
    height: 40px;
    background: #7d12ff;
    box-shadow: 0 0 10px #7d12ff;
    font-size: 16px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    outline: none;
}
.signUp-link{
    font-size: 16px;
    text-align: center;
    margin: 15px 0;

}
.signUp-link p{
    color: white;
}
.signUp-link p a{
    color: goldenrod;
    text-decoration: none;
    font-weight: 500;
}
.signUp-link p a:hover{
    text-decoration: underline;
}