html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background: #d9ae89;
}
  
#calendar {
  max-width: 60%;
  margin: 0.5% auto;
  background: #e5e1d8;
  color: #31312f;
  border-radius: 3%;
  padding: 1.5%;
  overflow: hidden;
  border: 3px solid #31312f
}

#calendar button{
  background-color: #31312f;
  border: #31312f;
}

/* Top navigation bar */
.top-nav {
  padding-left: 0px;
  background-color: #31312f;
  color: white;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  width: 100%;
  height: 40px;
  padding-bottom: 0;
}

/* Topnav items */
.top-nav a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

.top-nav a:hover{
  transition: color 0.3s, background-color 0.3s;
  background-color: #40251f;
}

.top-nav a.active {
  background-color: #40251f;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

.top-nav a.profile{
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  margin-left: auto;
}